#left-side {
  flex: 45%;
  display: flex;
  justify-content: center;
}

#mobile-template {
  border-radius: 50px;
  width: 320px;
  height: 650px;
  border: 1px solid var(--regular-font-color);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#mobile-template-top {
  width: 80px;
  height: 25px;
  border: 1px solid var(--regular-font-color);
  border-radius: 15px;
  margin-top: 10px;
}

#avatar {
  margin-top: 30px;
}

#name {
  margin-top: 20px;
}

