@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");

:root {
  --purple: #6c49cc;
  --light-purple: #6c49cc2f;
  --regular-font-color: rgb(139, 137, 137);
  --border-radius: 7px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}
